In [11]:
# Basic Boolean expression evaluator

x = 10
y = 20

print("x is greater than y:", x > y)
print("x is less than y:", x < y)
print("x is equal to y:", x == y)
print("x is not equal to y:", x != y)

print("x is greater than or equal to y:", x >= y)
print("x is less than or equal to y:", x <= y)

# Additional Boolean expressions
# Logical AND
print("x is greater than 5 and y is less than 30:", x > 5 and y < 30)
print("x is less than 5 and y is greater than 15:", x < 5 and y > 15)

# Logical OR
print("x is less than 5 or y is greater than 15:", x < 5 or y > 15)
print("x is greater than 15 or y is less than 25:", x > 15 or y < 25)

# Logical NOT
print("It is not true that x is less than y:", not (x < y))

# Hard example
print("It is not true that x is greater than 15 or y is less than 10:", not (x > 15 or y < 10))
# Complex expression
print("Complex expression result:", (x > 5 and y < 30) or (x < 15 and y > 25))

x is greater than y: False
x is less than y: True
x is equal to y: False
x is not equal to y: True
x is greater than or equal to y: False
x is less than or equal to y: True
x is greater than 5 and y is less than 30: True
x is less than 5 and y is greater than 15: False
x is less than 5 or y is greater than 15: True
x is greater than 15 or y is less than 25: True
It is not true that x is less than y: False
It is not true that x is greater than 15 or y is less than 10: True
Complex expression result: True

In [ ]:
# If statement with Boolean expression
"""
Formula:
if {expression}:
    {action}
else:
    {alternative action}
"""

x = 20
y = 20

# Example 1
if x > y:
    print("Nhi is beautiful.")
else:
    print("Thinh is ugly.")

# Example 2
if x < y:
    print("Nhi is beautiful.")
else:
    print("Thinh is ugly.")

# Example 3
if x == y:
    print("Nhi is beautiful.")
else:
    print("Thinh is ugly.")

# Example 4
if x != y:
    print("Nhi is beautiful.")

# Example 5

Thinh is ugly.
Thinh is ugly.
Nhi is beautiful.

In [ ]:
# Real-world example
score = 5
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D or lower")

# Real-world example 02

age = 18
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Grade: D or lower

In [22]:
# Input from keyboard
user_input = input("Enter a number: ")

print("Type:", type(user_input))

# Convert input to integer
number = int(user_input)

# Check if the number is even or odd
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Type: <class 'str'>
The number is odd.

In [26]:
# Loop operations
"""
Loop operations are used to repeat a block of code multiple times.
There are two main types of loops in Python: for loops and while loops.

For loops are used to iterate over a sequence (like a list or a string) or a range of numbers.
While loops are used to repeat a block of code as long as a certain condition is true.

Formula:
for {variable} in {sequence}:
    {action}

while {condition}:
    {action}
"""

# For loop example
for i in range(5): #range(5) or range(0, 5)
    print("Iteration:", i)

# For loop with a list
nhi = ["apple", "banana", "cherry"]
for x in nhi:
    print("Fruit:", x)

# For loop with a string
stri = "Hello"
for char in stri:
    print("Character:", char)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Fruit: apple
Fruit: banana
Fruit: cherry
Character: H
Character: e
Character: l
Character: l
Character: o

In [ ]:
# Exercises about if else

# Exercise 1: Check if a number is positive, negative, or zero
# Exercise 2: Determine the day of the week based on a number input (1-7)
# Exercise 3: Check if a year is a leap year or not

# Exercise 4: Check if a number is within a specific range (e.g., 1-100)
# Exercise 5: Check if a number is a multiple of another number (e.g., 3 or 5)
# Exercise 6: Check if a number is square (e.g., 1, 4, 9, 16, etc.)

In [ ]:
# Exercise about for loops

# Exercise 1: Print numbers from 1 to 10
for i in range(1, 11):
    print("Number:", i)

# Exercise 2: Print the first 10 even numbers
for i in range(0, 20, 2):
    print("Even number:", i)

for i in range(1, 21):
    if i % 2 == 0:
        print("Even number:", i)

# Exercise 3: Print the first 10 odd numbers
for i in range(1, 20, 2):
    print("Odd number:", i)

for i in range(1, 21):
    if i % 2 != 0:
        print("Odd number:", i)

# Exercise 4: Print the multiplication table for a given number
for i in range(1, 11):
    number = 5  # Change this to any number you want
    print(f"{number} x {i} = {number * i}")

# Exercise 5: Print the sum of the first 10 natural numbers
for i in range(1, 11):
    print("Sum of first", i, "natural numbers:", sum(range(1, i + 1)))

# Exercise 6: Print the factorial of a number
number = 5  # Change this to any number you want
factorial = 1
for i in range(1, number + 1):
    factorial *= i
print(f"Factorial of {number} is {factorial}")

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9
Number: 10
Even number: 0
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10
Even number: 12
Even number: 14
Even number: 16
Even number: 18
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10
Even number: 12
Even number: 14
Even number: 16
Even number: 18
Even number: 20
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9
Odd number: 11
Odd number: 13
Odd number: 15
Odd number: 17
Odd number: 19
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9
Odd number: 11
Odd number: 13
Odd number: 15
Odd number: 17
Odd number: 19
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Sum of first 1 natural numbers: 1
Sum of first 2 natural numbers: 3
Sum of first 3 natural numbers: 6
Sum of first 4 natural numbers: 10
Sum of first 5 natural numbers: 15
Sum of first 6 natural numbers: 21
Sum of first 7 natural numbers: 28
Sum of first 8 natural numbers: 36
Sum of first 9 natural numbers: 45
Sum of first 10 natural numbers: 55
Factorial of 5 is 120

In [ ]:
# Exercise 4: Print the multiplication table for a given number
for i in range(1, 11):
    number = 5  # Change this to any number you want
    print(f"{number} x {i} = {number * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Exercise 6: Print the factorial of a number
number = 5  # Change this to any number you want
factorial = 1
for i in range(1, number + 1):
    factorial = factorial * i
print(f"Factorial of {number} is {factorial}")

In [1]:
# Exercise 7: Print the sum of the first N natural numbers

number = 100

sum_num = 0

sum_num = sum_num + 1
sum_num = sum_num + 2
sum_num = sum_num + 3
sum_num = sum_num + 4

for i in range(1, number + 1):
    sum_num = sum_num + i

print("Sum of first", number, "natural numbers:", sum_num)
print(f"Sum of first {number} natural numbers: {sum_num}")

Sum of first 100 natural numbers: 5060
Sum of first 100 natural numbers: 5060

In [4]:
# Example
a = 10
b = 20

# I want to add a and b and replace a with the result
a = a + b
print(a)

30

In [5]:
a = a + b
print(a)

50

In [6]:
b = a + a
print(b)

100

In [ ]:
# Exercise 5: In số mũ của một số (a^b)

a=3
b=4

k = 1

k = k * a
k = k * a

for i in range(1, b+1):
    k = k * a

print(k)

81

In [13]:
# Calculate s = a^1 + a^2 + a^3 + a^n
n = 10
a = 5

s = 0

for i in range(1, n+1):
    s = s + a**i

print(s)

12207030

In [ ]:
# Calculate s = 1/1 + 1/2 + 1/3 + ... + 1/n
n = 10

s= 0
s = s + 1/1
s = s + 1/2
s = s + 1/3

In [ ]:
# Calculate s = 1/2 +2/2 + 3/2 + ... + n/2
n = 10

s = 0
for i in range(1, n + 1):
    s = s + i / 2

In [ ]:
# Calculate s = 1/3 * 2/3 * 3/3 * ... * n/3
n = 10
s = 1
for i in range(1, n + 1):
    s = s * i / 3

In [ ]:
# calculate s = 1 * 2 * 3 * ... * n
n = 10
s = 1
for i in range(1, n + 1):
    s = s * i