In [ ]:
# Cell 1: Imports & Sample Data Creation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Create a sample dataset with missing values, duplicates, and some noise
data = {
    'CustomerID': [101, 102, 103, 104, 105, 105, 106, np.nan, 108, 109],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Eva', 'Frank', 'Grace', 'Hank', 'Ivy'],
    'Age': [25, np.nan, 35, 45, 28, 28, np.nan, 30, 42, 29],
    'Country': ['USA', 'UK', 'USA', 'UK', 'UK', 'UK', 'USA', 'UK', np.nan, 'USA'],
    'Sales': [250, 300, np.nan, 450, 500, 500, 600, 550, 650, np.nan]
}

df = pd.DataFrame(data)
df

In [ ]:
# Cell 2: Identify Missing Values
print("Count of missing values per column:")
print(df.isnull().sum())

# Visualizing missing values with a simple bar chart
df.isnull().sum().plot(kind='bar', title="Missing Values per Column")
plt.show()

In [ ]:
# Cell 3: Dropping Data
# Drop rows with any missing value
df_drop_any = df.dropna()
print("After dropping rows with any missing value:")
print(df_drop_any)

# Drop rows where all values are missing
df_drop_all = df.dropna(how='all')
print("\nAfter dropping rows where all values are NaN:")
print(df_drop_all)

# Drop columns with too many missing values (threshold)
df_drop_thresh = df.dropna(axis=1, thresh=len(df) - 2)  # keep columns with <= 2 missing
print("\nAfter dropping columns with too many NaNs:")
print(df_drop_thresh)

In [ ]:
# Cell 4: Filling Missing Data
# Fill numeric NaNs with the column mean
df_fill_mean = df.copy()
df_fill_mean['Age'] = df_fill_mean['Age'].fillna(df_fill_mean['Age'].mean())
df_fill_mean['Sales'] = df_fill_mean['Sales'].fillna(df_fill_mean['Sales'].mean())

# Fill categorical NaNs with the most frequent value (mode)
df_fill_mean['Country'] = df_fill_mean['Country'].fillna(df_fill_mean['Country'].mode()[0])

print("After filling missing values:")
print(df_fill_mean)

In [ ]:
# Cell 5: Filtering Data
# Filter rows where Sales > 500
high_sales = df_fill_mean[df_fill_mean['Sales'] > 500]
print("Customers with Sales > 500:")
print(high_sales)

# Filter rows where Country is 'USA' and Age > 30
usa_over_30 = df_fill_mean[(df_fill_mean['Country'] == 'USA') & (df_fill_mean['Age'] > 30)]
print("\nUSA customers over 30 years old:")
print(usa_over_30)

In [ ]:
# Cell 6: Removing Duplicates
# Identify duplicates
print("Duplicate rows based on all columns:")
print(df_fill_mean[df_fill_mean.duplicated()])

# Remove duplicates keeping the first occurrence
df_no_duplicates = df_fill_mean.drop_duplicates()
print("\nAfter removing duplicates:")
print(df_no_duplicates)

In [ ]:
# Cell 7: Basic Data Analysis (mean, median)
# Calculate mean and median of numeric columns
print("Mean values:\n", df_no_duplicates.mean(numeric_only=True))
print("\nMedian values:\n", df_no_duplicates.median(numeric_only=True))

# Visualize Sales distribution
plt.hist(df_no_duplicates['Sales'], bins=5, edgecolor='black')
plt.title("Sales Distribution")
plt.xlabel("Sales")
plt.ylabel("Frequency")
plt.show()

In [ ]:
# Cell 8: GroupBy and Aggregate
# Group by Country and calculate average Sales and Age
country_stats = df_no_duplicates.groupby('Country').agg({
    'Sales': ['mean', 'median', 'max', 'min'],
    'Age': ['mean', 'median']
})
print("Country-level statistics:")
print(country_stats)

# Visualization: Average Sales by Country
df_no_duplicates.groupby('Country')['Sales'].mean().plot(kind='bar', title="Average Sales by Country")
plt.ylabel("Average Sales")
plt.show()

In [ ]:
# Cell 9: Multiple Aggregations and Renaming Columns
# Group by Country and Name, sum Sales and count transactions
detailed_stats = df_no_duplicates.groupby(['Country', 'Name']).agg(
    total_sales=('Sales', 'sum'),
    transactions=('Sales', 'count'),
    avg_age=('Age', 'mean')
).reset_index()

print("Detailed stats per customer per country:")
print(detailed_stats)

In [ ]:
# Cell 10: Save Cleaned Data
df_no_duplicates.to_csv('cleaned_data.csv', index=False)
print("Cleaned data saved to cleaned_data.csv")