# Numpy

In [33]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
print(arr)

[1 2 3 4 5]

In [15]:
print("Kích thước array:", arr.shape)
print("Kiểu dữ liệu array:", arr.dtype)

Kích thước array: (5,)
Kiểu dữ liệu array: int64

In [ ]:
arr_zero = np.zeros(5)       # [0,0,0,0,0]
arr_one = np.ones(5)         # [1,1,1,1,1]
arr_range = np.arange(1,10)  # [1,2,...,9]

In [20]:
print("Tổng:", arr.sum())
print("Trung bình:", arr.mean())
print("Max:", arr.max())
print("Min:", arr.min())

Tổng: 15
Trung bình: 3.0
Max: 5
Min: 1

In [29]:
print(arr[0])       # Phần tử đầu <- index
print(arr[-1])      # Phần tử cuối
print(arr[1:4])     # Phần tử từ vị trí 1 đến 3

1
5
[2 3 4]

In [ ]:
arr = np.arange(10,21)
filtered_arr = arr[arr > 15]

print("Các số lớn hơn 15:", filtered_arr)
print("Tổng các số lớn hơn 15:", filtered_arr.sum())

Các số lớn hơn 15: [16 17 18 19 20]
Tổng các số lớn hơn 15: 90

# Pandas

In [43]:
import pandas as pd

data = {
    "Tên": ["Anna", "Bob", "Charlie"],
    "Tuổi": [25, 30, 35],
    "Quốc gia": ["UK", "USA", "Canada"]
}

df = pd.DataFrame(data)
print(df)

       Tên  Tuổi Quốc gia
0     Anna    25       UK
1      Bob    30      USA
2  Charlie    35   Canada

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tên       3 non-null      object
 1   Tuổi      3 non-null      int64
 2   Quốc gia  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [ ]:
df.head(2)  # 2 dòng đầu
df.tail(1)  # 1 dòng cuối

       Tên  Tuổi Quốc gia
2  Charlie    35   Canada

In [58]:
# print(df["Tên"])       # Cột "Tên"
# print(df.iloc[0])      # Dòng đầu tiên
print(df.loc[1, "Tên"])  # Phần tử dòng 1 cột "Tên"

Bob

In [61]:
import pandas as pd

products = {
    "Tên": ["Sách", "Bút", "Laptop", "Tai nghe"],
    "Giá": [40, 10, 800, 50],
    "Số lượng": [100, 200, 5, 10]
}

df = pd.DataFrame(products)

# Lọc sản phẩm giá > 50
df_high_price = df[df["Giá"] > 50]
print("Sản phẩm giá trên 50:")
print(df_high_price)

Sản phẩm giá trên 50:
      Tên  Giá  Số lượng
2  Laptop  800         5

In [ ]:
df.to_csv("products.csv", index=False) # lưu file csv

In [ ]:
df_read = pd.read_csv("products.csv") # đọc file csv
print(df_read)

        Tên  Giá  Số lượng
0      Sách   40       100
1       Bút   10       200
2    Laptop  800         5
3  Tai nghe   50        10